spring:
  application:
    name: OnlineBookStore

  datasource:
    url: jdbc:mysql://localhost:3306/bookstore
    username: root
    password: Mouni@29

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
